@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    background: var(--color-dark-blue);
    color: var(--color-light-cyan);
}
footer {
    position: absolute;
    bottom: 0px;
}

.container {
    min-height: calc(100vh - 60px);
    padding: 0px 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.card {
    background: var(--color-dark-grayish-blue);
    margin: 15px;
    padding: 45px 20px;
    border-radius: 14px;
    text-align: center;
    position: relative;
    max-width: 450px;
}

.card-title {
    color: var(--color-neon-green);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 200;
    margin: 0;
}

.card-content {
    margin: 30px 0 30px;
}

.horizontal {
    height: 0px;
    border: 0px;
    border-top: 1px solid var(--color-grayish-blue);
    position: relative;
    overflow: visible;
    margin: 25px 0;
}

.horizontal .shadow {
    background: var(--color-dark-grayish-blue);
    position: absolute;
    width: 50px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 25px);
}

.horizontal .vertical {
    border: 0px;
    width: 6px;
    height: 16px;
    background: var(--color-light-cyan);
    position: absolute;
    display: block;
    top: calc(50% - 8px);
    border-radius: 10px;
    left: calc(50% - 10px);
}

.vertical + .vertical {
    left: calc(50% + 4px);
}

.card-footer {
    background: var(--color-neon-green);
    height: 65px;
    width: 65px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -32.5px;
    left: calc(50% - 32.5px);
}

.btn {
    display: block;
    background: #0000;
    border: 0px;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 4px;
}

.btn:active,
.btn:focus {
    outline: none;
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.8), 0px 0px 6px 6px rgba(255, 255, 255, 0.4);
    background: #fff;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: var(--color-neon-green);
}

.spin {
    animation: spin 1.2s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0) scale(1);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg) scale(0.98);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg) scale(1);
    }
}

@media screen and (min-width: 900px) {
    body {
        font-size: 28px;
    }

    .container {
        min-height: calc(100vh - 100px);
        padding: 40px 0 60px;
    }

    .card {
        margin: 25px;
        padding: 50px;
    }
    .card-title {
        font-size: 15px;
    }
    .card-content {
        margin: 25px 0 50px;
    }
}
